@import '../../../../../assets/scss/variables';

:host {
  max-width: 600px;
}

.letter {
  min-width: 2rem;
  cursor: pointer;
  background-color: $orange;
  color: $white;
  border: 1px solid $white;
}
