@import '../../../../../assets/scss/variables';

.board {
  &__pokemon,
  &__buttons {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  &__pokemon {
    height: 250px;
  }

  &__buttons {
    margin-bottom: 10px;
    min-height: 50px;
  }

  &__score {
    flex-direction: column;
    color: $pokemon-blue;
  }
}
