@import '../../../../../assets/scss/variables';

.board {
  &__title {
    position: relative;
    top: 10%;
    color: $pokemon-blue;
    text-shadow: 2px 2px 2px rgba($color: $pokemon-yellow, $alpha: 0.5);
  }

  &__pokemon,
  &__buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }

  &__pokemon {
    height: 250px;
  }

  &__buttons {
    margin-bottom: 10px;
    min-height: 50px;
  }

  &__lives-score {
    // display: flex;
    // padding: 10px;
    // text-align: center;
    // justify-content: center;
  }

  &__lives {
    // margin: 0 5px;
  }

  &__score {
    display: flex;
    flex-direction: column;
    color: $pokemon-blue;
    font-size: 21px;
    font-weight: bold;
    margin: 0 10px;
  }
}
