<div class="board vh-100 d-flex align-items-center flex-column">
  <ng-container *ngIf="!(loading | async)">
    <div class="board__pokemon d-flex my-4">
      <app-pokemon-image [pokemon]="pokemon" [hasBeenSuccessful]="hasBeenSuccessful"></app-pokemon-image>
    </div>

    <div class="board__buttons d-flex">
      <app-button
        *ngFor="let option of buttonsOptions"
        [name]="option"
        [disabled]="disableButtons"
        (pokemonSelected)="checkSelection($event)"
      ></app-button>
    </div>
    <div class="d-flex align-items-center justify-content-center p-2">
      <div class="mx-2">
        <app-lives *ngFor="let live of lives"></app-lives>
      </div>
      <div class="board__score d-flex text-center my-2 fw-bold fs-5">
        <span>{{ 'games.pokemon.score' | translate }}</span>
        <span>{{ score }}</span>
      </div>
    </div>
  </ng-container>
</div>

<app-loading *ngIf="loading | async"></app-loading>
