@import '../../../../../assets/scss/variables';

.pokemon {
  background-image: linear-gradient(180deg, $pokemon-white, $pokemon-yellow);

  &__logo {
    width: 10rem;
    transform: rotate(-15deg);
  }

  &__ball {
    width: 3rem;
  }

  // &__title {
  //   position: relative;
  //   top: 10%;
  //   color: $pokemon-blue;
  //   text-shadow: 2px 2px 2px rgba($color: $pokemon-yellow, $alpha: 0.5);
  // }
}
