@import '../../../../../assets/scss/variables';

.pokemon {
  color: $pokemon-blue;
  text-shadow: 2px 2px 2px rgba($color: $pokemon-yellow, $alpha: 0.5);
  background-image: linear-gradient(180deg, $white, $pokemon-yellow);

  &__logo {
    width: 10rem;
    transform: rotate(-15deg);
  }

  &__ball {
    width: 3rem;
  }

  &__back {
    color: $pokemon-blue;
  }
}
