$white: #ffffff;
$black: #000000;
$gray: #f3f3f3;

$rock-paper-scissors-brown: #96666b;
$rock-paper-scissors-brown-light: #dccacb;
$rock-paper-scissors-navajowhite: #ffdead;

$hanged-blue: #e9f3fa;
$hanged-gray: #6c757d;

$pokemon-yellow: #feca1b;
$pokemon-blue: #3761a8;
