$white: #ffffff;
$black: #000000;
$gray: #f3f3f3;

$rock-paper-scissors-brown: #96666b;
$rock-paper-scissors-brown-light: #e8d8d6;
$rock-paper-scissors-indigo: #6610f2;

$pokemon-yellow: #feca1b;
$pokemon-blue: #3761a8;
$pokemon-red: #e83e34;
