@import '../../../../../assets/scss/_variables.scss';

:host {
  max-width: 600px;
}

.riddle {
  background-color: rgba($color: $black, $alpha: 0.9);
  padding: 0rem 1rem 1rem;

  &__letter {
    min-width: 1rem;
    border-bottom: 2px solid $white;
    color: $white;
    visibility: visible;

    &--hidden {
      visibility: hidden;
    }
  }
}
