@import '../../../../../assets/scss/_variables.scss';

:host {
  max-width: 600px;
}

.riddle {
  &__letter {
    min-width: 1rem;
    border-bottom: 2px solid $black;
    visibility: visible;

    &--hidden {
      visibility: hidden;
    }
  }
}
