<div class="cards" *ngFor="let card of cards; let i = index">
  <div
    class="cards__inner"
    [class.cards__inner--selected]="card?.selected"
    [class.cards__inner--locked]="card?.locked"
    (click)="selectCard(i)"
  >
    <div class="cards__front cards__center">
      <img src="assets/images/memory/puzzle.png" alt="Card game" style="width: 75%; height: 75%" />
    </div>
    <div class="cards__back cards__center">
      <img src="{{ card.image }}" alt="{{ card.value }}" style="width: 65%; height: 65%" />
    </div>
  </div>
</div>
