@import '../../../assets/scss/variables';

.games-card {
  & > .card {
    background-color: rgba($color: $black, $alpha: 0.9);
    color: $white;

    & > img {
      border-radius: 50%;
      width: 50%;
    }
  }
}
