.pokemon-image {
  max-width: 175px;
  max-height: 175px;
  filter: brightness(0);
  animation: fadeIn 2s;
  -webkit-animation: fadeIn 2s;

  &--success {
    filter: brightness(1);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
