@import '../../../../../assets/scss/variables';

button {
  border: none;
  border-radius: 5px;
  background-color: $pokemon-yellow;
  color: $pokemon-blue;
  cursor: pointer;
  text-transform: capitalize;

  &:hover {
    background-color: $pokemon-blue;
    color: $pokemon-yellow;
  }

  &:disabled {
    pointer-events: none;
    opacity: 0.5;
  }
}
