@import '../../../../../assets/scss/variables';

.rock-paper-scissors {
  color: $white;
  background-image: url('../../../../../assets/images/general/logo.png');
  background-size: cover;
  background-repeat: no-repeat;

  & button {
    background-color: $orange;
    color: $white;
    border: 2px solid $white;
    width: 150px;

    &:hover {
      background-color: $white;
      color: $orange;
      border: 2px solid $orange;
    }
  }

  &__option {
    width: fit-content;
    background-color: $white;
    color: $orange;

    & > img {
      width: 100%;
      max-width: 100px;
      filter: drop-shadow(5px 5px 4px $black);
    }
  }
}
