<div class="rock-paper-scissors container-fluid vh-100 d-flex justify-content-center align-items-center">
  <div class="rock-paper-scissors__option mx-3 p-3 border border-3 rounded">
    <img src="/assets/images/rock-paper-scissors/rock.png" />
  </div>
  <div class="rock-paper-scissors__option mx-3 p-3 border border-3 rounded">
    <img src="/assets/images/rock-paper-scissors/paper.png" />
  </div>
  <div class="rock-paper-scissors__option mx-3 p-3 border border-3 rounded">
    <img src="/assets/images/rock-paper-scissors/scissors.png" />
  </div>
</div>
<!-- https://mugan86.medium.com/crear-juego-piedra-papel-o-tijera-en-angular-6695126e1119 -->
