<div class="hanged container-fluid vh-100 d-flex flex-column justify-content-center align-items-center">
  <app-exit-game *ngIf="!(hangedData | async)?.riddle || (hangedData | async)?.phase === hangedPhase.END"></app-exit-game>
  <app-hanged-form *ngIf="!(hangedData | async)?.riddle" (start)="play($event)"></app-hanged-form>
  <ng-container *ngIf="(hangedData | async)?.riddle && (hangedData | async)?.phase !== hangedPhase.END">
    <app-puppet [attempts]="(hangedData | async)?.attempts!"></app-puppet>
    <app-riddle [hangedData]="hangedData"></app-riddle>
    <app-letters [hangedData]="hangedData"></app-letters>
  </ng-container>
  <ng-container *ngIf="(hangedData | async)?.phase === hangedPhase.END"
    ><app-hanged-end-game [attempts]="(hangedData | async)?.attempts!" [riddle]="(hangedData | async)?.riddle!"></app-hanged-end-game
  ></ng-container>
</div>
