<div class="memory container-fluid vh-100 d-flex flex-wrap flex-column justify-content-center align-items-center">
  <app-exit-game *ngIf="displayMenu"></app-exit-game>
  <app-memory-game-mode *ngIf="displayMenu" (selectedMode)="selectMode($event)"></app-memory-game-mode>
  <app-memory-board
    *ngIf="!displayMenu && !isFinished"
    [mode]="selectedMode"
    (back)="showMenu($event)"
    (isFinished)="endGame($event)"
  ></app-memory-board>
  <p *ngIf="isFinished">FINNNNNNNNNNNNNNNNNn</p>
</div>
