@import '../../../../../assets/scss/variables';

.board {
  background-color: rgba($color: $black, $alpha: 0.75);

  &__option {
    width: fit-content;
    cursor: pointer;
    background-color: $white;

    & > img {
      width: 100%;
      max-width: 100px;
      filter: drop-shadow(5px 5px 4px $black);
    }
  }

  &__game-info {
    &--two {
      color: $orange;
    }
  }
}
