<div class="board container-fluid vh-100 py-4">
  <i class="board__back bi bi-arrow-left position-absolute top-0 end-0 fs-4 p-2" (click)="goBack()"></i>
  <app-rock-paper-scissor-score [gameStatus]="rockPaperScissorService.gameStatus" [mode]="mode"></app-rock-paper-scissor-score>
  <div *ngIf="rockPaperScissorService.gameStatus | async as gameStatus" class="mb-3 text-center fs-2">
    {{ gameStatus.message | translate }}
  </div>
  <div class="d-flex justify-content-center align-items-center">
    <div *ngFor="let option of optionImageUrls" class="board__option mx-3 p-3 border border-3 rounded" (click)="play(option)">
      <img src="/assets/images/rock-paper-scissors/{{ option }}.png" />
    </div>
  </div>
  <div class="mt-3 text-center fs-2" [class.board__game-info--two]="rockPaperScissorService.currentPlayer === 2">
    {{ gameInfo }}
  </div>
</div>
