@import '../../../../../assets/scss/variables';

.score {
  &__player-two {
    color: $orange;
  }

  &__points {
    width: 20px;
    text-align: center;
  }

  &__baffle {
    background: -webkit-linear-gradient($orange, $white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
