.puppet {
  position: relative;
  height: 130px;
  width: 130px;

  &__piece {
    width: 100%;
    height: 100%;
    position: absolute;
    background-repeat: no-repeat;

    &--ko {
      display: none;
    }
  }
}
